
form {
    width: 452px;
    margin: 0 auto;
    margin-top: 7rem;
    position: relative;
}

div {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: .75rem;
    background: #373737;
    color: #FFF;
    border: none;
    outline: none;
    border: 2px solid #373737;

    border-radius: 3px;
    font-size: 1rem;
}

input[type="password"]{
    font-weight: 900;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #419D78;
    /* border: solid 2px crimson; */
}


button {
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 1rem;
    background: #419D78;
    font-size: 1rem;
    color: #FFF;
    border-radius: 3px;
    transition: all ease-in-out 250ms;
    outline: none;
}

button:hover, 
button:focus {
    /* background: #3d5066; */
    background: #154b35;
}

.loginOrRegister {
    width: 452px;
    margin: 0 auto;
    margin-top: 2rem;
    cursor: pointer;
} 
.blue {
    color: #0093a7;
}
.blue:hover {
    text-decoration: underline;
}
.error-message {
    color: #F15152;
    display: block;
    margin-top: 5px;
}

.loginError {
    padding: .8rem;
    box-sizing: border-box;
    width: 452px;
    border-radius: 3px;
    background: #F15152;
    color: #EEE;
    position: absolute;
    top: -5rem;
}