
form {
    width: 452px;
    margin: 0 auto;
    margin-top: 4.5rem;
}

div {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: .75rem;
    background: #373737;
    color: #FFF;
    border: none;
    outline: none;
    border-bottom: 2px solid #373737;

    border-radius: 3px;
    font-size: 1rem;
}

input[type="password"]{
    font-weight: 900;
}


button {
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 1rem;
    background: #419D78;
    font-size: 1rem;
    color: #FFF;
    border-radius: 3px;
    transition: all ease-in-out 250ms;
    outline: none;
}

button:hover, 
button:focus {
    /* background: #3d5066; */
    background: #154b35;
}

.loginOrRegister {
    width: 452px;
    margin: 0 auto;
    margin-top: 2rem;
    cursor: pointer;
    color: #0093a7;
}