/* .movie {
    background: #373737;
    border-radius: 7px;
    padding: 1rem;
    width: 200px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 2rem;
    display: inline-block;
    transition: all ease-in-out 250ms;
}

.movie:hover,
.movie:focus {
    background: #2c2c2c;
}

.icons, 
.icons * {
    display: inline-block;

}

.edit,
.trash {
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
    transition: all ease-in-out 250ms;
}
 
.edit {
    margin-right: 1rem;
    background: #2D3047;
}

.edit:hover,
.edit:focus {
    background: #1b2044;
}

.trash {
    background: #F15152;
}

.trash:hover,
.trash:focus {
    background: #641616;
}

.new {
    cursor: pointer;
    width: 232px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
    color: #FFF;
    outline: none;
    border-radius: 7px;
    background: #419D78;
    transition: all ease-in-out 250ms;
}

.new:hover,
.new:focus {
    background: #154b35;
}

.seleted {
    color: red;
} */

.movie-list {
    height: 25vh;
    padding-left: 2rem;
    /* background: #222;
    overflow: hidden; */
}

.featured {
    margin: 1rem 0;
}

.movies {
    display: flex;
    /* flex-direction: row; */
    overflow: scroll;
    height: calc(100% - 2rem);
}

.movie {
    background: var(--light-bg);
    border-radius: 20px;
    /* width: 50px; */
    width: 150px;
    height: calc(100% - 1rem);
    margin-right: 1rem;
    padding: 1rem;
    box-sizing: border-box;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movie .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.movie .view {
    background: var(--dark-gray);
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 0 0 20px 20px;
    font-weight: 600;
}

.star{
    color: var(--accent);
}



::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  