nav {
    width: 100%;
    /* padding: 2rem; */
    box-sizing: border-box;
    padding: 0 2rem;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   


.logo {
    color: var(--accent);
    position: relative;
    z-index: 998;
    transition: all 500ms ease-in-out;
}

.logo-active {
    color: var(--main-bg);
}

.burger {
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.line {
    height: 3px;
    width: 30px;
    border-radius: 3px;
    background: var(--gray);
    margin-bottom: 4px;
    transition: all ease-in-out 500ms;
}

.line2 {
    width: 23px;
}

.line3 {
    margin-bottom: none;
}

ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 500ms ease-in-out;

    opacity: 0;
}

ul li {
    list-style-type: none;
    margin: 1rem;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: var(--main-bg);
    font-weight: bold;
    font-size: 2rem;    
}

.active {
    right: 0;
    opacity: 1;
    background: var(--accent);
}

.not-active {
    display: none;
}


.not-active {
    opacity: 0;
    /* opacity: 1; */
}

.active {

    /* opacity: 1; */
    right: 0;
}

.burger-active .line {
    background: var(--main-bg);
}

.burger-active .line1{
    opacity: 0;
}

.burger-active .line2{
    width: 30px;
    transform: rotate(45deg);
    
}

.burger-active .line3{
    transform: translateY(-7px) rotate(135deg); 
}
