<main class="main">

    <div>
        <app-home *ngIf="home" [isLoggedIn]="isLoggedIn"></app-home>
        <app-movie-detail [movie]="selectedMovie" (updateMovie)="selectMovie($event)"></app-movie-detail>
        <app-movie-form *ngIf="movieToEdit" [movie]="movieToEdit" 
            (movieCreated)="movieCreated($event)" 
            (movieUpdated)="movieUpdated($event)">
        </app-movie-form>
    </div>

    <app-movie-list [movies]="movies" 
        (selectMovie)="selectMovie($event)" 
        (editedMovie)="editMovie($event)" 
        (deletedMovie)="deleteMovie($event)"
        (createMovie)="createMovie()">
    </app-movie-list>
    
</main>
