<main class="main">

    <div>
        <app-home *ngIf="home" [movie]="selectedMovie" [isLoggedIn]="isLoggedIn"></app-home>
        <app-movie-detail [movie]="selectedMovie" [isLoggedIn]="isLoggedIn"
            (createMovie)="createMovie()"
            (updateMovie)="selectMovie($event)"
            (editedMovie)="editMovie($event)" 
            (deletedMovie)="deleteMovie($event)"
            ></app-movie-detail>
        <app-movie-form *ngIf="movieToEdit" [movie]="movieToEdit" 
            (movieCreated)="movieCreated($event)"  
            (movieUpdated)="movieUpdated($event)">
        </app-movie-form>
    </div>

    <app-movie-list [movies]="movies" 
        (selectMovie)="selectMovie($event)">
    </app-movie-list>
    
</main>
