/* .app {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    height: 100vh;
    padding: 2rem;
    max-width: 968px;
    margin: 0 auto;
} */

/* .app-title {
    margin-bottom: 2rem;
    text-align: center;
    color: #E0A458;
    font-size: 5rem;
} */ 

.app {
    /* padding: 2rem; */
    max-width: 2000px;
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
}

.app-title {
    /* text-align: center; */
    margin-bottom: 1rem;
    color: var(--title);
}

@media screen and (min-width: 768px) {
    .app {
        /* padding: 4rem; */
    }

    .app-title {
        font-size: 3rem;
    }
}