/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

:root {
    --main-bg: #2A2C24;
    --light-bg: #33352d;
    --accent: #E0A458;
    --hover: #be873e;
    --disabled: #e0a55893;
    --light: #F5F1ED;
    --gray: #B4B4B4;
    --dark-gray: #5e5e5e;
    --blue: #0093a7;
    --red: #F15152;
}

 
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background: var(--main-bg);
    color: var(--light);
}


form {
    width: 100%;
}

form div {
    margin-bottom: 1rem;
}

form button {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: .5rem;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;
    background: var(--light-bg);
    color: var(--light);
    border-radius: 10px;
    transition: all 250ms ease-in-out;
}

input:focus,
textarea:focus {
    border-color: var(--accent);
}

button {
    padding: 1em 2em;
    font-size: 1rem;
    color: var(--main-bg);
    background: var(--accent);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

form button {
    width: 100%;
}

button:hover,
button:focus {
    background: var(--hover);
}

button:disabled {
    background: var(--disabled);
    /* color: #949494; */
    cursor: not-allowed;
}